doctype html
html
	head
	link(rel='stylesheet', href='/static/style/responsive.css')
	body(style='margin:0')
		iframe.embed-frame(src='/?bcod=#{bcod}&type=#{type}&hideclose=true', frameborder='0', scrolling='no')
