html
  head
  body(style="margin:0")
    #flow-container
      header
      #flow-player-container
        a#player(href='static/blank.flv', style='display:block;')
    script(src='/lib/flowplayer-3.2.13.min.js')
    script(src='static/javascript/buzzbeacon.js')
    script(src='static/javascript/buzzflash.js')
    script.
      document.addEventListener("DOMContentLoaded",function() {
        var bcod = "#{bcod}";
        var completionWindow = #{completionWindow};
        var source = "#{src}"
        BuzzFlash.initPlayer('player', source, bcod, completionWindow);
      });