doctype html
html
	head
	link(rel='stylesheet', href='/static/style/responsive.css')
	body(style='margin:0')
		iframe.embed-frame(src='/?src=//rtr.innovid.com/r1.56bcbbbe19e441.01378237&autoplay=true&bcod=688&type=VIDEO&hideclose=true', frameborder='0', scrolling='no')
