doctype html
html
	head
	body(style='margin:0; overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px')
		iframe(src='/?src=//rtr.innovid.com/r1.56bcbbbe19e441.01378237&autoplay=true&bcod=688&type=VIDEO&hideclose=true&poster=//cdn3.iconfinder.com/data/icons/technology-internet-and-communication/100/technology_internet_communications20-512.png', frameborder='0', style='height:360px', width='640')
