doctype html
html
  head
  body(style='margin:0')
    #BuzzAdDiv
    script(src='static/javascript/buzzadmanager.js')
    script(type='text/javascript').
      BUZZADMANAGER.BuzzAdManager('BuzzAdDiv');
