doctype html
html
	head
	body(style='margin:0; overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px')
		#BuzzAdDiv
		script(src='static/javascript/buzzadmanager.js')
		script(type='text/javascript').
			BUZZADMANAGER.BuzzAdManager('BuzzAdDiv');


	form#setup-form
		ul
			li
				label(for='type') Vine
				input.choose-type(name='type', value='VINE', type='radio')
				label(for='type') Youtube
				input.choose-type(name='type', value='YOUTUBE', type='radio')
			li#vine.li-type
				| Vine Url
				input.form-control(name='src', value='')
				|             Auto Play
				input(type='radio', name='autoplay', value='Yes')
				| Yes
				input(type='radio', name='autoplay', value='No')
				|  No
				|             Auto close
				input(type='radio', name='autoclose', value='Yes')
				| Yes
				input(type='radio', name='autoclose', value='No')
				|  No
				|             Auto mute
				input(type='radio', name='automute', value='Yes')
				| Yes
				input(type='radio', name='automute', value='No')
				|  No
			li#youtube.li-type
				label(for='src') Youtube src
				input.form-control(name='src', value='')
				|             Auto Play
				input(type='radio', name='autoplay', value='Yes')
				| Yes
				input(type='radio', name='youtube[autoplay]', value='No')
				|  No
			li
				button.btn.btn-block.btn-primary(value='submit')
					| SUBMIT     
