<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/setup/style.css">
	</head>
	<body>
		<div class="container" id="setup-container">
			<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" 
            				class="navbar-toggle collapsed" 
            				data-toggle="collapse" 
            				data-target="#navbar" 
            				aria-expanded="false" 
            				aria-controls="navbar">
              <span class="sr-only">
              	Toggle navigation
              </span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/setup">Buzzstarter</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" 
                	class="dropdown-toggle" 
                	data-toggle="dropdown" 
                	role="button" 
                	aria-haspopup="true" 
                	aria-expanded="false">
                		SETUP
                		<span class="caret"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
		</div>
    <div class="container" id="setup">
      <form id="setup-form">
        <ul>
          <li>
            <label for="type">Vine</label>
            <input class="choose-type" name="type" value="VINE" type="radio" />
            <label for="type">Youtube</label>
            <input class="choose-type" name="type" value="YOUTUBE" type="radio" />
            <label for="type">TWITCH</label>
            <input class="choose-type" name="type" value="TWITCH" type="radio" />
          </li>
          <li id="vine" class="li-type">
            Vine Url
            <input name=src value="" class="form-control" />
            Auto Play
            <input type="radio" name="autoplay" value="Yes">Yes
            <input type="radio" name="autoplay" value="No"> No
            Auto close
            <input type="radio" name="autoclose" value="Yes">Yes
            <input type="radio" name="autoclose" value="No"> No
            Auto mute
            <input type="radio" name="automute" value="Yes">Yes
            <input type="radio" name="automute" value="No"> No
          </li>
          <li id="youtube" class="li-type">
            <label for="src">Youtube src</label>
            <input name=src value="" class="form-control" />
            Auto Play
            <input type="radio" name="autoplay" value="Yes">Yes
            <input type="radio" name="youtube[autoplay]" value="No"> No
          </li>
          <li id="twitch" class="li-type">
            <label for="src">Twitch src</label>
            <input name=src class="form-control" />
            Auto Play
            <input type="radio" name="autoplay" value="Yes">Yes
            <input type="radio" name="autoplay" value="No"> No
          </li>
          <li>
            <button value="submit" class="btn btn-block btn-primary">
              SUBMIT
            </button>
          </li>
        </ul>
      </form>
    </div>
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="static/javascript/controllers/setup.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>