shtml
  head
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/static/style/setup/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800', type='text/css')
  body
    .navbar-fixed
      nav
        .nav-wrapper.valign-wrapper
          a.buzz-logo.valign(href='#')
            img(src="static/buzzstarterLogo.png" height="50px")
    .row.top-row

      #setup.container.col.m3
        .row.tabs-container
          .col.s12
            ul.tabs
              li.tab.col.s6
                a(href='#option1') Setup
              li.tab.col.s6
                a(href='#option2') Metrics
        .row
          .col.s12
            .card#option1
              .card-content
                form#setup-form
                  .row
                    .input-field.col.s12
                      select#vertical(required)
                        option(value='', disabled) Choose your option
                        option(value='male-lifestyle' selected) Male Lifestyle
                        //- option(value='female-lifestyle') Female Lifestyle
                        option(value='business') Business
                        //- option(value='health-wellness') Health & Wellness
                        option(value='tech') Tech
                        //- option(value='entertainment') Entertainment
                        //- option(value='style-beauty') Style & Beauty
                        //- option(value='news') News
                        //- option(value='foods') Foods
                        //- option(value='auto') Auto
                        option(value='gaming') Gaming
                        //- option(value='multi-cultural') Multi-Cultural
                      label VERTICAL
                  .row
                    .input-field.col.s12
                      select#ad-type(required)
                        option(value='', disabled) Choose your option
                        option(value='native' name='ad-type') Native
                        option(value='sponsored' name='ad-type' selected) Sponsored Post
                      label AD TYPE
                  .row
                    .input-field.col.s12
                      select#type(required)
                        option(value='', disabled='') Choose your option
                        option(value='TWITCH' name='type' selected) Twitch
                        option(value='YOUTUBE' name='type') YouTube
                        option(value='VINE' name='type') Vine
                        option(value='VIDEO' name='type') Hosted Video
                        option(value='VIDEO360' name='type') Video 360
                      label CHANNEL
                  .row
                    .input-field.col.s12
                        input#src(name='src', value='monstercat' type='text' placeholder='Enter Your URL')
                        label(for='src') URL
                  .row#input-poster
                    .input-field.col.s12
                      input#poster(name='poster', type='text' placeholder='Enter Your Poster Image')
                      label(for='poster') Poster
                  .row#input-viewability
                    .input-field.col.s12
                      select#viewabilityPercent
                        option(value='', disabled='') Choose your option
                        option(value='50' name='viewabilityPercent' selected) 50%
                        option(value='100' name='viewabilityPercent') 100%
                      label VIEWABILITY STANDARD
                  .row#input-auto-play
                    .input-field.col.s12 AUTO PLAY
                      br
                      input#autoplaytrue(name='autoplay', class='with-gap' type='radio' value="true")
                      label(for='autoplaytrue') on
                      input#autoplayfalse(name='autoplay', class='with-gap' type='radio' value="false" checked)
                      label(for='autoplayfalse' class='align-items') off
                  .row
                    .input-field.col.s12 AUTO MUTE
                      br
                      input#automutetrue(name='automute', class='with-gap' type='radio' value="true" checked)
                      label(for='automutetrue') on
                      input#automutefalse(name='automute', class='with-gap' type='radio' value="false")
                      label(for='automutefalse' class='align-items') off
                  .row
                    .input-field.col.s12 PLAY AUDIO ON HOVER
                      br
                      input#audiohovertrue(name='audiohover', class='with-gap' type='radio' value="true" checked)
                      label(for='audiohovertrue') on
                      input#audiohoverfalse(name='audiohover', class='with-gap' type='radio' value="false")
                      label(for='audiohoverfalse' class='align-items') off
                  .row
                    .input-field.col.s12 PLAY / PAUSE ON VIEWABILITY
                      br
                      input#playpausetrue(name='playpause', class='with-gap' type='radio' value="true" checked)
                      label(for='playpausetrue') on
                      input#playpausefalse(name='playpause', class='with-gap' type='radio' value="false")
                      label(for='playpausefalse' class='align-items') off
                  .row
                    .input-field.col.s12 CLOSE FRAME BUTTON
                      br
                      input#closetrue(name='close', class='with-gap' type='radio' value="true" checked)
                      label(for='closetrue') on
                      input#closefalse(name='close', class='with-gap' type='radio' value="false")
                      label(for='closefalse' class='align-items') off
                  .row
                    .input-field.col.s12 SOCIAL BUTTONS
                      br
                      input#social-true(name='social', class='with-gap' type='radio' value="true" checked)
                      label(for='social-true') on
                      input#social-false(name='social', class='with-gap' type='radio' value="false")
                      label(for='social-false' class='align-items') off
                  .row
                    .input-field.col.s12 PLACEMENT
                      br
                      input#in-read(name='readtype', class='with-gap' type='radio' value="in-read" checked)
                      label(for='in-read') mid
                      input#top-read(name='readtype', class='with-gap' type='radio' value="top-read")
                      label(for='top-read') top
                  .card-action
                    button.btn.waves-effect.waves-light.btn-submit(type='submit') Submit
                  .row#share-btn-row.center-align
                    span#share-btn Share
                  .row#share-input
                    .input-field.col.s12
                      input#share-link(name='share-link', type='text' placeholder='Copy This Link')
                      label(for='share-link') SHAREABLE LINK
          .col.s12
            .card#option2
              .card-content.center-align
                h5.metrics-header Events Fired
                p#event-Playing.event-non-fired Playing
                p#event-Firstquartile.event-non-fired First Quartile
                p#event-Midpoint.event-non-fired Midpoint
                p#event-Thirdquartile.event-non-fired Third Quartile
                p#event-Complete.event-non-fired Complete
                hr
                p#event-Paused.event-non-fired Pause
                p#event-Resume.event-non-fired Resume
                //- p#event-error.event-non-fired Twitch: Error
                //- p#event-adstart.event-non-fired Twitch: Ad Start
                //- p#event-adend.event-non-fired Twitch: Ad End
                h5.metrics-header Viewability
                p.event-non-fired.event-metrics-label Vertical 
                  span#view-vertical.event-metrics 0%
                p.event-non-fired.event-metrics-label Horizontal 
                  span#view-horizontal.event-metrics 0%
                p.event-non-fired.event-metrics-label Combined Viewability 
                  span#view-combined.event-metrics 0%
                p.event-non-fired.event-metrics-label Elapsed Time (s) 
                  span#view-time.event-metrics 0
      div#content.col.m9
        .progress-overlay
          .preloader-wrapper.big.active
            .spinner-layer.spinner-red-only
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle

    script(src='//cdn.jsdelivr.net/viewability/latest/viewability.min.js')
    script(src='//code.jquery.com/jquery-2.1.2.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
    script(src='/static/javascript/controllers/setup.js')
    script(src='/static/javascript/callbacks.js')
    script(src='/static/javascript/buzzadmanager.js')
    
