shtml
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/static/style/setup/style.css')
  body
    nav
      .nav-wrapper
        a.brand-logo(href='#') Buzzstarter
    .row

      #setup.container.col.m3
        .card
          .card-content
            form#setup-form
              .input-field.col.s12
                select#verticle(required)
                  option(value='', disabled='', selected='') Choose your option
                  option(value='male-lifestyle') Male Lifestyle
                  option(value='female-lifestyle') Female Lifestyle
                  option(value='business') Business
                  option(value='health-wellness') Health & Wellness
                  option(value='tech') Tech
                  option(value='entertainment') Entertainment
                  option(value='style-beauty') Style & Beauty
                  option(value='news') News
                  option(value='foods') Foods
                  option(value='auto') Auto
                  option(value='gaming') Gaming
                  option(value='multi-cultural') Multi-Cultural
                label VERTICLE
              .input-field.col.s12
                select#type(required)
                  option(value='', disabled='', selected='') Choose your option
                  option(value='TWITCH' name='type') Twitch
                  option(value='YOUTUBE' name='type') YouTube
                  option(value='VINE' name='type') Vine
                label CHANNEL
              .input-field.col.s12
                | URL
                input#src(name='src' type='text')
              .input-field.col.s12
                      | AUTO PLAY
                      input#autoplaytrue(name='autoplay', type='radio' value="true")
                      label(for='autoplaytrue') on
                      input#autoplayfalse(name='autoplay', type='radio' value="false")
                      label(for='autoplayfalse') off
                    .input-field.col.s12
                      | AUTO MUTE
                      input#automutetrue(name='automute', type='radio' value="true")
                      label(for='automutetrue') on
                      input#automutefalse(name='automute', type='radio' value="false")
                      label(for='automutefalse') off
              .card-action
                button.btn.waves-effect.waves-light(type='submit')
                  | Submit

      div#content.col.m9
        .progress
          .indeterminate
    
    script(src='https://code.jquery.com/jquery-2.1.2.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
    script(src='static/javascript/controllers/setup.js')
