shtml
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/static/style/setup/style.css')
  body
    nav
      .nav-wrapper.center-align
        a.buzz-logo(href='#') Buzzstarter
    .row
      
      #setup.container.col.m3
        .row
          .col.s12
            ul.tabs
              li.tab.col.s6
                a(href='#option1') Setup
              li.tab.col.s6
                a(href='#option2') Metrics
        .card#option1
          .card-content
            form#setup-form
              .input-field.col.s12
                select#verticle(required)
                  option(value='', disabled='', selected='') Choose your option
                  option(value='male-lifestyle-post') Male Lifestyle
                  option(value='female-lifestyle-post') Female Lifestyle
                  option(value='business-post') Business
                  //- option(value='health-wellness-post') Health & Wellness
                  option(value='tech-post') Tech
                  //- option(value='entertainment-post') Entertainment
                  //- option(value='style-beauty-post') Style & Beauty
                  //- option(value='news-post') News
                  //- option(value='foods-post') Foods
                  //- option(value='auto-post') Auto
                  option(value='gaming-post') Gaming
                  //- option(value='multi-cultural-post') Multi-Cultural
                label VERTICLE
              .input-field.col.s12
                select#type(required)
                  option(value='', disabled='', selected='') Choose your option
                  option(value='TWITCH' name='type') Twitch
                  option(value='YOUTUBE' name='type') YouTube
                  option(value='VINE' name='type') Vine
                  option(value='VIDEO' name='type') Hosted Video
                label CHANNEL
              .input-field.col.s12
                input#src(name='src', type='text')
                label(for='src') URL
              #input-poster.input-field.col.s12
                input#poster(name='poster', type='text')
                label(for='poster') Poster
              .input-field.col.s12 AUTO PLAY
                br
                input#autoplaytrue(name='autoplay', type='radio' value="true")
                label(for='autoplaytrue') on
                input#autoplayfalse(name='autoplay', type='radio' value="false")
                label(for='autoplayfalse') off
              .input-field.col.s12 AUTO MUTE
                br
                input#automutetrue(name='automute', type='radio' value="true")
                label(for='automutetrue') on
                input#automutefalse(name='automute', type='radio' value="false")
                label(for='automutefalse') off
              .card-action
                button.btn.waves-effect.waves-light(type='submit') Submit
        .card#option2
          .card-content
            p Events Fired
            p#event-Playing.fired-event Playing
            p#event-Paused.fired-event Pause
            p#event-Firstquartile.fired-event First Quartile
            p#event-Midpoint.fired-event Midpoint
            p#event-Thirdquartile.fired-event Third Quartile
            p#event-Ended.fired-event Ended
            p#event-Complete.fired-event Complete
      div#content.col.m9
        .progress
          .indeterminate
    
    script(src='https://code.jquery.com/jquery-2.1.2.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
    script(src='static/javascript/controllers/setup.js')
    script(src='static/javascript/callbacks.js')
