doctype html
html
  head
    link(href='//vjs.zencdn.net/5.3/video-js.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/static/style/style.css')
    link(rel='stylesheet', href='/static/style/videojs.ads.css')
    link(rel='stylesheet', href='/static/style/videojs.ima.css')
  body
    video#content_video.video-js.vjs-default-skin(poster='#{poster}', controls='', preload='auto', style='width:100%; height:100vh')
      source(src='//da2hw5uyqeo5b.cloudfront.net/blank.mp4', type='video/mp4')
    script(src='//vjs.zencdn.net/5.3/video.min.js')
    script(src='//imasdk.googleapis.com/js/sdkloader/ima3.js')
    script(src='static/javascript/videojs.ads.js')
    script(src='static/javascript/videojs.ima.js')
    script(src='static/javascript/ads.js')
    script(type='text/javascript').
      var ad = new Ads('#{tag}', '#{autoplay}')