.li-type {
	display: none;
}

#setup {
	position: absolute;
	width: 50%;
}

body, html { width:100% ;
    height:100% ;
    overflow:hidden ;
}

iframe { width:100% ;
        height:100% ;
    border:none ;
}