html {
  font-family: "Open Sans", sans-serif;
}

.li-type {
  display: none;
}

.choose-type {
  display: none;
}

body, html {
  width:100% ;
  height:100% ;
  overflow-y: hidden;
}

.row.top-row {
  margin-bottom: 0;
}

iframe {
  width:100%;
  height:100%;
  border:none;
}
#content .progress {
  display: none;
}

#content {
  margin-top: 5px;
  position: relative;
}

#input-poster, #input-auto-play {
  display: none;
}

.buzz-logo {
  font-size: 2.1rem;
  margin: 0 auto;
}

.nav-wrapper {
  background-color: white;
}

.card .card-content p.event-non-fired,
.card .card-content span.event-metrics {
  color: gray;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  margin-bottom: 10px;
}

.card .card-content p.event-metrics-label {
  color: black;
}

.card .card-content p.event-non-fired:last-child {
  margin-bottom: 0px;
}

.card .card-content p.event-fired,
.card .card-content span.event-fired {
  color: #26a69a;
}

.btn-submit {
  display: block;
  margin: 20px auto 0 auto;
}

.tabs-container {
  margin: 20px -0.75rem 0 -0.75rem;
}

.card .card-action {
  padding: 0;
}

#setup-form {
  margin-bottom: 0;
}

#setup {
  height: calc(100% - 64px);
  overflow-y: auto;
}

.tabs {
  overflow-x: hidden;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  margin-right: 10px;
}

.align-items {
  margin-left: 8px;
}

.progress-overlay {
  position: fixed;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 25%;
  bottom: 0;
  right: 0;
  display: none;
}

.progress-overlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 25%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.native-ad-wrapper {
  border: 7px groove #EC492B;
}

.module-header-sponsored {
  margin-bottom: -30px !important;
  width: 50% !important;
}

#share-input, #share-btn {
  display: none;
}

#share-input {
  margin-bottom: 5px;
}

#share-btn {
  color: #26a69a;
  cursor: pointer;
}

#share-btn-row {
  margin: 5px 0;
}

input[type=text],
input[type=url],
textarea.materialize-textarea,
.select-wrapper input.select-dropdown {
  margin: 0 0 5px 0;
}

.row {
  margin-bottom: 15px;
}

@media (max-width: 1875px) {
  body,
  html,
  .dropdown-content li>a,
  .dropdown-content li>span,
  .card .card-content p.event-non-fired,
  .card .card-content span.event-metrics {
    font-size: 13px;
  }
}
