link(href='//vjs.zencdn.net/5.3/video-js.min.css', rel='stylesheet')
link(rel='stylesheet', href='/static/style/videojs.ads.css')
link(rel='stylesheet', href='/static/style/videojs.ima.css')
script(src='//vjs.zencdn.net/5.3/video.min.js')
script(src='//imasdk.googleapis.com/js/sdkloader/ima3.js')
script(src='//da2hw5uyqeo5b.cloudfront.net/videojs.ads.js')
script(src='//da2hw5uyqeo5b.cloudfront.net/videojs.ima.js')
script(src='/static/javascript/videojsads.js');