body(style='margin:0; overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px')
	.valiantPhoto(data-video-src='/static/assets/manhattan_short_CLIPCHAMP_keep_short.mp4', style='width: 100%; height: 100vh;')
	script(type='text/javascript').
		$(document).ready(function() {
			$('.valiantPhoto').Valiant360({
				autoplay: ('#{autoplay}' === 'true'),
				muted: ( '#{automute}' === 'true')
			});
		});